
.inicio p{
    padding: 0 20px;
    font-size: 20px;
    text-align: justify;
}

.inicio span{
    font-family: 'Bebas Neue', cursive;
}

.cuentaReg{
    text-align: center;
    background:rgb(16, 124, 16);
    margin:0  20px auto;
    border-radius: 20px;
    padding: 0px 20px

}

.cuentaReg h3{
    display: inline;
    margin: 0 5px;
}

.inicio h1{
    padding: 0 20px;
}